
<h1>Register</h1>
<dl id="errorRegister" class="alert alert-danger" role="alert" {{hid}}>{{error}}</dl>
<form method="POST" action="/register" id="signup-form" class="row g-3 needs-validation" novalidate>
  
  <!-- This Div contains the input for the Username-->
  <div class="col-md-4">
    <label for="username" class="form-label">Username:</label>
    <div class="input-group has-validation">
      <input name="username" type="text" class="form-control" id="username" placeholder="Please enter your Username" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please enter a valid Username.
      </div>
    </div>
  </div>

  <!-- This Div contains the input for the Password-->
  <div class="col-md-4">
    <label for="password" class="form-label">Password:</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Please enter your password" required>
    <div class="invalid-feedback">
      Please provide a valid Password.
    </div>
  </div>
  
  <!-- This Div contains the input for the Confirm Password-->
  <div class="col-md-4">
    <label for="confirmPassword" class="form-label">Confirm Password:</label>
    <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Please confirm your password" required>
    <div class="invalid-feedback">
      Please provide a confirmed Password.
    </div>
  </div>

    <!-- This Div contains the input for the Country Code-->
  <div class="col-md-3">
    <label for="countryCode" class="form-label">Country Code:</label>
    <input name="countryCode" type="text" class="form-control" id="countryCode" placeholder="Please enter your Country Code" required>
    <div class="invalid-feedback">
      Please provide a City Code.
    </div>
  </div>

    <!-- This Div contains the input for the Discord-->
  <div class="col-md-3">
    <label for="discord" class="form-label">Discord Username:</label>
    <input name="discord" type="text" class="form-control" id="discord" placeholder="Please enter your Discord Username">
  </div>

    <!-- This Div contains the input for the Phone Number-->
  <div class="col-md-3">
    <label for="phoneNumber" class="form-label">Phone Number:</label>
    <input name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Please enter your Phone Number">
  </div>

    <!-- This Div contains the input for the Email-->
  <div class="col-md-3">
    <label for="email" class="form-label">Email:</label>
    <input name="email" type="text" class="form-control" id="email" placeholder="Please enter your Email">
  </div>

  <!-- This Div contains the Checkbox for the Display Wishlist-->
  <div class="col-12">
      <input class="form-check-input" type="checkbox" value="" id="DWishlist">
      <label class="form-check-label" for="DWishlist">
        Display Wishlist?
      </label>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Register!</button>
  </div>
</form>
<script src="../../public/js/auth_validation.js"></script>
<a class="basic-Text" href="/login">Already have an account? Click here to log-in</a>