<h1>User is Logged in, This is just a placeholder for the homepage</h1>
<a id="logoutLink" href="/logout" class="logoutlink">Logout</a>
<a id="pepperLink" href="/peppers" class="pepperLink">Peppers</a>