
 <h1 class="header">Login</h1>
    <div id="error" class="error">{{error}}</div>
    <form method="POST" id="signin-form" name="singin-form" class="new-post-form">

        <label for="username">Username:</label>
        <input name="username" id="username" type="text" class="loginusername"></input>

        <label for="password">Password:</label>
        <input name="password" id="password" type="password" class="loginpassword"></input>

        <button type="submit" id="btn" class="loginbutton">Login!</button>
    </form>
<a class="basic-Text" href="/register">Click here to register!</a>