<h1>User is Logged in, This is just a placeholder for the pepper page</h1>
<a id="logoutLink" href="/logout" class="logoutlink">Logout</a>
<a id="homepageLink" href="/homepage" class="homepagelink">Home Page</a>