body{
    background-color:#fff3e9;
    /* uhhhh this is showing up as salmon pink on my monitor and muted on another. a monitor color issue on my end */
}
a{
    /* default color was always against tota11y contrast ratio standards */
    color: black;
}
.header-link-div{
    display:inline-block;
    padding:5px 5px 5px 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-link{
    color:black;
    text-decoration:none; 
    /* removes underline */

}
.header-link-div:hover{
    background-color: rgb(30, 139, 255)
}

#welcomeText{
    text-align: center;
}

.homepage-nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.initiate-trade-form .list-group {
    border: 2px solid black; 
    border-radius: 4px; 
    padding: 10px; 
}
.initiate-trade-form .list-group .form-check {
    padding-bottom: 5px;
}




.tradePendingYourApp p{
    margin-bottom: 10px;
}
.tradePendingYourApp button{
    margin-top: 10px;
}
.tradePendingOthersApp p{
    margin-bottom: 10px;
}






.pepperPendingApproval p{
    margin-bottom: 5px;
}
.pepperPendingApproval button{
    margin-top: 5px;
}
.pepperPendingApproval{
    width: 60%
}




.pepper-submission-div{
    max-width: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.pepper-submission-div button{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}




.usernameLink{
    color:black;
}
.usernameLink:hover{
    color:blue;
}
.user-to-trade p{
    margin-bottom: 5px;
}

.user-page-links-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.user-info p {
    margin-bottom: 5px;
}



#pepperFilterForm{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#filter-form label{
    margin-bottom: 10px;
}

#grow-add{
    display: none;
}

#textPortion{
    width:40%;
}

.grow-container{
    height: 40%;
}

.grow-img {
    max-width: 60%; 
    max-height: 30%; 
    display: block; 
    margin: 0px; 
}