<h1>User is Logged in, This is just a placeholder for the homepage</h1>
<a id="logoutLink" href="/logout" class="logoutlink">Logout</a>
<a id="pepperLink" href="/peppers" class="pepperLink">Peppers</a>
<a id="matchingLink" href="/matches" class="matchingLink">Matches</a>
<a id="tradelink" href="/trades" class="tradelink">Trading Page</a>
<a id="moderatorLink" href="/moderator" class="moderatorLink">Moderator Page</a>
<a id="growLink" href="/grow/{{user._id}}" class = "growLink">Grows</a>